.yt-video {
    background-color: bisque;
    width: 55%;
    height: 428px;
}

@media (max-width: 1150px) {
    .yt-video {
        width: 65%;
    }
}

@media (max-width: 900px) {
    .yt-video {
        width: 100%;
    }
}