.video-nav-box {
    display: flex;
    justify-content: space-between;
    padding-top: 1.125rem;
    gap: 2.5rem;
}

.video-nav-box .yt-video {
    background-color: bisque;
    width: 55%;
    height: 428px;
}

