.ProgressRoot {
  overflow: hidden;
  background-color: #D9D9D9;
  width: 343px;
  height: 9px;
  transform: translateZ(0);
  margin-bottom: .56rem;
}

.ProgressIndicator {
  background-color: #FFA000;
  width: 100%;
  height: 100%;
  transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
}
