.login-form-page {
    background-color: #121214;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-page .login-register-form {
    padding-bottom: 4.5rem;
}

.login-form-page .ipt-err-box.name,
.login-form-page .back-to-login-box,
.login-form-page span.not-appearing {
    display: none;
}

.login-form-page .txt-btn-box {
    padding-top: 5.13rem;
}

.login-form-page button.login-error {
    background-color: #FF3200;
}

.login-form-page span.login-error {
    color: #FF3200;
    font-size: 14px;
    text-align: start;
    width: 100%;
}

@media(max-width: 550px) {
    .login-form-page .login-register-form {
        padding-bottom: 9.2rem;
    }

    .login-form-page .form-legend.mobile {
        font-size: 2rem;
    }

    .login-form-page .txt-btn-box {
        flex-direction: column-reverse;
        padding-top: 3.25rem;
        gap: 2.15rem;
    }

    .login-form-page .form-text {
        display: inline;
    }

    .login-form-page span.login-error {
        position: relative;
        bottom: 49px;
    }
}