#header-main{
    flex: 1;
    height: 76px;
    background-color: #292D32;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}

#header-main img {
    width: auto;
    height: 70px;
    object-fit: contain;
    border-radius: 70px;
}
#header-right{
    display: flex;
    align-items: center;
    gap: 16px;
}

#header-right p {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #FFA000;
}

#header-right img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}