* {
    padding: 0;
    margin: 0;
    border: 0;
    /* box-sizing: border-box; */
    font-family: 'Roboto', sans-serif;
  }

  textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}