.conatiner-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.curso-item {
    color: #FFA000;
    border: 2px solid #FFA000;
    border-radius: 8px;
    background-color: #292D32;
    padding: 5px 16px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.curso-item h4 {
    margin: 0px;
    padding: 0px;
    flex: 1;
}

.curso-item img {
    filter: contrast(0.5);
}